@charset "utf-8";
@import url('font.css');
 
* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {
    color: #333;
    line-height: 1;
    font-family: 'S-Core-Dream';
    font-weight: 400;
}
#wrap {
    margin: 0 auto; 
    position: relative;
}
#wrap .inner {
    width: calc(100% - 30px);
    margin: 0 auto;
}

/* header */
header { 
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
header.on {
    backdrop-filter: blur(5px);
}
header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {font-size: 0;}
header .inner h1 a {}
header .inner h1 a img {}

 
header .inner .menu_list .lang_list {
    
}
header .inner .menu_list .lang_list li {
    display: inline-block;
    margin-right: 15px;
}
header .inner .menu_list .lang_list li a {}

header .inner .menu_list {
    display: flex;
    align-items: center;
}
header .inner .menu_list > img {
    width: 25px;
}

header .inner nav {display: none;}
header .inner nav .close {}
header .inner nav .gnb {}
header .inner nav .gnb .depth01 {}
header .inner nav .gnb .depth01 > a {}
header .inner nav .gnb .depth01 .depth02  {}
header .inner nav .gnb .depth01 .depth02 li {}
header .inner nav .gnb .depth01 .depth02 li a {}

/* main_visual */
.main_visual {
    height: 100vh;
   /*  position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .swiper-slide {
    position: relative;
}
.main_visual .swiper-slide .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px;
    line-height: 1.3; 
}
.main_visual .swiper-slide .inner h2 {
    font-weight: bold;
}
.main_visual .swiper_control {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
    color: #fff;
    z-index: 99;
    display: flex;    
    margin-left: 50px;
}
.main_visual .swiper_control div.swiper-play {
    display: none;
}
.main_visual .swiper_control div {
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
}
.main_visual .swiper_control div img {
    width: 20px;
}
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    content: '';
    background-image: url('../img/right_icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    transform: rotate(-180deg);
}
.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after {
    content: '';
    background-image: url('../img/right_icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255);
}
.swiper-pagination-bullet-active {
    background-color: #fff;
}

main {
     
}
.business {
    padding: 100px 0; 
}
.business .title {
    opacity: 0;
    transform: translateX(-50px);
}
.business .title.on {
    opacity: 1;
    transform: translateX(0px);
    transition: 0.7s 0.2s;
}
.business .title h3 {
    font-size: 30px;
    line-height: 1.3;
    color: #0E2071;
}
.business .title h3 span {
    display: block;
    color: #838383;
}
.business .title p {
    margin: 30px 0 80px;
    line-height: 1.5;
}

.business .list {}
.business .list .business_menu {
    display: flex;
    margin-bottom: 40px;
}
.business .list .business_menu li {
    margin-right: 20px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.business .list .business_menu li.on {
    padding-left: 20px;
}
.business .list .business_menu li.on::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #dbe2ff;
    position: absolute;
    left: 0;
    top: -12px;
    z-index: -1;
    border-radius: 50%;
}
.business .list .item {
    display: none;
}
.business .list .item.on {
    display: block;
}
.business .list .item figure {
    height: 350px;
}
.business .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.business .list .item div {
    margin-top: 30px;
}
.business .list .item div span {}
.business .list .item div h4  {
    font-size: 50px;
    margin: 10px 0 20px;
}
.business .list .item div p {
    font-size: 14px;
    margin-bottom: 40px;
}
.business .list .item div a {
    display: inline-block;
    background-color: #eee;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 7px 10px;
    border-radius: 20px;
}

.result {
    background-color: #101E5D;
    color: #fff;
    
}
.result .inner {
    padding: 100px 0;
}
.result h3 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    opacity: 0;
    transform: translateY(50px);
}
.result h3.on {
    opacity: 1;
    transform: translateY(0);
    transition: 0.7s 0.5s;
}
.result .text_list {
    
    display: flex;
    flex-wrap: wrap;
}
.result .text_list div {
    width: calc(100% / 2);
    margin-top: 70px;
    text-align: center;
}
.result .text_list div strong {
    font-size: 60px;
}
.result .text_list div strong span {
    font-size: 14px;
    font-weight: 400;
}
.result .text_list div p {
    font-size: 14px;
    margin-top: 20px;
}
.result .result_text {
    height: 520px;
    background: url('../img/scroll_bg_mo.jpg') center center / cover no-repeat;
}
.result .result_text p {
    font-size: 22px;
    line-height: 1.5;
}
footer {
    font-size: 13px;
    padding: 50px 0;
}